In [5]:
import pandas as pd

df = pd.read_csv(r'/home/jungmin/readability/text_augmentation/TransformersDataAugmentation/datasets/onestopeng/onestopeng.csv', sep='\t')
df.columns = [['label','text']]
df.tail()

          label                                               text
561    Advanced  The forests – and suburbs – of Europe are echo...
562  Elementary  American researchers say that a nasal spray co...
563  Elementary  It was a beautiful summer evening and I decide...
564  Elementary  Not sleeping very much used to be a sign that ...
565    Advanced  The tranquil chorus of the natural world is in...

In [8]:
#  1. label 바꾸기 (Elementary:0, Intermediate:1, Advanced=2) 

df['label']=df['label'].replace('Advanced', 2, regex=True)
df['label']=df['label'].replace('Intermediate', 1, regex=True)
df['label']=df['label'].replace('Elementary', 0, regex=True)

df.tail()

    label                                               text
561     2  The forests – and suburbs – of Europe are echo...
562     0  American researchers say that a nasal spray co...
563     0  It was a beautiful summer evening and I decide...
564     0  Not sleeping very much used to be a sign that ...
565     2  The tranquil chorus of the natural world is in...

In [23]:
#  2. train, valid, test로 나누기(80%, 10%, 10%)

from sklearn.model_selection import train_test_split

train, x = train_test_split(df,test_size=0.2,train_size=0.8)
val, test = train_test_split(x, test_size = 0.5,train_size =0.5)

In [28]:
train = train.reset_index(drop=True)
val = val.reset_index(drop=True)
test = test.reset_index(drop=True)

len(train), len(val), len(test)

(452, 57, 57)

In [ ]:
#  3. .tsv(from .csv) 파일 형식으로 바꿔서 저장하기
save_path = 

train.to_csv('train.tsv', sep="\t", index=False, header=None)